<div class="container">
  <div class="row">
    <form role="form" ng-submit="addCareer(pCareer)">
      <fieldsets >
        <div class="form-group">
          <label for="form-control">Code</label>
          <input type="text" id="nameofficie" class="form-control" placeholder="Name Office" ng-model="pCareer.code" required>
        </div>
        <div class="form-group">
          <label for="form-control">Name</label>
          <input type="text" id="descrip" class="form-control" placeholder="Description" ng-model="pCareer.name" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
