<!DOCTYPE html>
<html lang="en" ng-app="office" ng-controller="appOffice as vm">
<head>
	<meta charset="utf-8">
    <link   href="../bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet">
    <link   href="../bootstrap-3.3.6-dist/css/apli.css" rel="stylesheet">
    <script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
</head>
<body>
    <div class="row">
      <nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <a href="#"><img src="../logo/utn.png" class="img-responsive img-nav" alt="Responsive image"></a>
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
 
    <ul class="nav navbar-nav navbar-right">
      <li><a href="office-list.html">Office List</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Menú #2 <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</div>
    <div class="container">
	 <div class="row">
	<form>
  <fieldsets >
    <div class="form-group">
      <label for="form-control">Name Office</label>
      <input type="text" id="nameofficie" class="form-control" placeholder="Name Office" ng-model="offname">
    </div>
    <div class="form-group">
      <label for="form-control">Description</label>
      <input type="text" id="descrip" class="form-control" placeholder="Description" ng-model="offdescription">
    </div>
    <button type="submit" ng-click="vm.agregarLista()" class="btn btn-primary">Submit</button>
  </fieldset>

  {{offname}} - {{offdescription}}
</form>
</div>
<br />
    </div>
</div>
<script>
var app = angular.module("office" , []);
app.controller("appOffice", function(){
  var vm = this;
  vm.lista = [];

  vm.agregarLista = function(){
    vm.lista.push(vm.offname);
  }
});
</script>
</body>
</html>