<div class="container">
  <div class="row">
    <form role="form" ng-submit="addOffice(pOffice)">
      <fieldsets >
        <div class="form-group">
          <label for="form-control">Name</label>
          <input type="text" id="nameofficie" class="form-control" placeholder="Name Office" ng-model="pOffice.name" required>
        </div>
        <div class="form-group">
          <label for="form-control">Descripcion</label>
          <input type="text" id="descrip" class="form-control" placeholder="Description" ng-model="pOffice.description" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
          <a ng-href="#/course">Cancel</a>
      </fieldset>
    </form>
  </div>
</div>
