<div class="container">
  <div class="row">
    <form role="form" ng-submit="addUsers(pUsers)">
      <fieldsets >
        <div class="form-group">
          <label for="form-control">Email</label>
          <input type="text" id="emailUsers" class="form-control" placeholder="Email" ng-model="pUsers.email" required>
        </div>
        <div class="form-group">
          <label for="form-control">Password</label>
          <input type="text" id="password" class="form-control" placeholder="Password" ng-model="pUsers.password" required>
        </div>
        <div class="form-group">
          <label for="form-control">Name</label>
          <input type="text" id="name" class="form-control" placeholder="name" ng-model="pUsers.name" required>
        </div>
        <div class="form-group">
          <label for="form-control">Phone number</label>
          <input type="text" id="phone_number" class="form-control" placeholder="phone number" ng-model="pUsers.phone_number" required>
        </div>
        <div class="form-group">
          <label for="form-control">Admin</label>
          <input type="checkbox" name="Admin" ng-model="pUsers.admin" class="form-control" />
        </div>
        <div class="form-group">
          <label for="form-control">Teacher</label>
          <input type="checkbox" name="Teacher" ng-model="pUsers.teacher" class="form-control" />
        </div>
        <div class="form-group">
          <label for="form-control">Active</label>
          <input type="checkbox" name="Active" ng-model="pUsers.active" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
